# nginx server block for the platformer game

#express server
location /platformer {
    proxy_pass http://localhost:10100;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
}

# websocket server
location /platformer/websocket {
    proxy_pass http://localhost:10101;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
}