.container{
    padding:20px;
}

body{
    background-color:#d0f4f7;
}

#controls, #game{
    box-sizing:border-box;
    height:100vh;
    width:100vw;
}

#screen{
    position:relative;
}

body{
    color:#337ab7;
}

.center{
    text-align:center;
}

#setup, #controls, #game, #lobby{
    display:none;
}