div{
    position:relative;
}
canvas{
    position:absolute;
    left:0;
    top:0;
}

canvas.sky{
    z-index:0;
}

canvas.ground{
    z-index:1;
}

canvas.obstacle{
    z-index:2;
}

canvas.character{
    z-index:3;
}